.item {
    padding: 6px 10px;
    border: 1px solid #ccc;
    color: #000;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.current {
    margin-left: 10px;
}

.active {
    border: none;
    color: #f40;
    cursor: auto;
}